/* DECLARACION DE VARIABLES DE COLOR Y VALORES FIJOS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-principal: #3a606e;
  --color-secundario: #26bde2;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 10rem;
  text-align: center;
  z-index: 10;
  text-transform: uppercase;
}

h2 {
  font-size: 7rem;
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  font-size: 3rem;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.contenedor__impacto h3::before,
.proceso__desarme h3::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 30%;
  height: 4px;
  background-color: var(--color-secundario);
}

p,
li {
  font-size: 2rem;
  text-align: justify;
  margin: 0;
}

.acerca,
.proceso,
.impacto,
.contacto,
.recursos {
  padding: 80px 10%;
}

.acerca,
.impacto,
.recursos {
  background-color: var(--color-principal);
  color: white;
}

/* ESTILOS A BARRA DE NAVEGACION */
.navbar-brand {
  pointer-events: none;
}

.navbar-brand img {
  width: 100px;
}

.nav-item {
  padding-left: 20px;
  font-size: 1.6rem;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-principal);
  transition: 0.5s ease-out;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link:hover {
  color: var(--color-principal);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 5px black;
}

/* ESTILOS A LA SECCION BANER */
.baner {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./assets/CollageBanner.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.baner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    transparent,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.6),
    white
  );
}

/* ESTILOS A LA SECCION PROCESO DE DESARME */

.proceso div:nth-child(even) p {
  margin-bottom: 30px;
}

.proceso__container {
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
}

.proceso__container article + article {
  margin-top: 100px;
}

.proceso__desarme {
  display: grid;
  grid-template:
    "titulo ." auto
    "info   imagen" 1fr /
    1fr 400px;
}

.proceso__desarme h3 {
  grid-area: titulo;
}

.proceso__desarme p,
.proceso__desarme div {
  grid-area: info;
  padding-right: 50px;
}

.proceso__desarme img {
  grid-area: imagen;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proceso li {
  margin-bottom: 10px;
}

/* ESTILOS A LA SECCION IMPACTO */

.impacto {
  display: grid;
  grid-template:
    "titulo   titulo    titulo" auto
    "impacto1 separador impacto2" 1fr
    "impacto3 separador impacto4" 1fr
    "impacto5 separador impacto6" 1fr
    "impacto7 separador impacto8" 1fr
    "impacto9 separador impacto10" 1fr /
    1fr auto 1fr;
  column-gap: 50px;
}

.separador {
  grid-area: separador;
  width: 5px;
  background-color: var(--color-secundario);
}

.impacto h2 {
  grid-area: titulo;
}

.contenedor__impacto figure {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

.contenedor__impacto figcaption {
  margin-top: 10px;
}

.contenedor__impacto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor__impacto p {
  margin-bottom: 20px;
}

.impacto1 {
  grid-area: impacto1;
}
.impacto2 {
  grid-area: impacto2;
}
.impacto3 {
  grid-area: impacto3;
}
.impacto4 {
  grid-area: impacto4;
  margin-top: 10px;
}
.impacto5 {
  grid-area: impacto5;
}
.impacto6 {
  grid-area: impacto6;
  margin-top: 50px;
}
.impacto7 {
  grid-area: impacto7;
}
.impacto8 {
  grid-area: impacto8;
  margin-top: 60px;
}
.impacto9 {
  grid-area: impacto9;
}
.impacto10 {
  grid-area: impacto10;
  margin-top: 50px;
}

/* ESTILOS A LA SECCION CONTACTO */

.contacto {
  display: flex;
  flex-direction: column;
}

.contacto__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}





/* ESTILOS A LA SECCION RECURSOS */
